{% extends 'layout.html' %}
{% block content %}
    <!-- inner-page-hero-section start -->
  <section class="inner-page-hero-section bg_img" data-background="/static/assets/images/banner/2.jpg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content-wrapper">
            <h2 class="page-title">代理优势</h2>
            <ul class="page-list">
              <li><a href="/index">Home</a></li>
              <li>Become agent</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- inner-page-hero-section end -->

  <!-- faq-section start -->
  <section class="faq-section pt-120 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="faq-single">
            <div class="number">01</div>
            <div class="content">
              <h3 class="title">Posuere est turpis elit, nulla et eget sapien</h3>
              <p>Lorem ipsum dolor sit amet, aliquam a ipsum eos morbi duis, mauris pede ut quis wisi magna, etiam donec ut id, tellus pellentesque convallis odio. Dolor vivamus potenti sed ut pede vestibulum, voluptate suspendisse, amet amet nisl eu, auctor etiam. Est sodales feugiat, enim ridiculus placerat ligula nam quam. Integer felis, pharetra massa risus purus ut erat, mauris</p>
            </div>
          </div><!-- faq-single end -->
          <div class="faq-single">
            <div class="number">02</div>
            <div class="content">
              <h3 class="title">User registration and subscription</h3>
              <p>Lorem ipsum dolor sit amet, aliquam a ipsum eos morbi duis, mauris pede ut quis wisi magna, etiam donec ut id, tellus pellentesque convallis odio. Dolor vivamus potenti sed ut pede vestibulum, voluptate suspendisse, amet amet nisl eu, auctor etiam. Est sodales feugiat, enim ridiculus placerat ligula nam quam. Integer felis, pharetra massa risus purus ut erat, mauris</p>
            </div>
          </div><!-- faq-single end -->
          <div class="faq-single">
            <div class="number">03</div>
            <div class="content">
              <h3 class="title">Diam suscipit ac ac ullamcorper at praesent</h3>
              <p>Lorem ipsum dolor sit amet, aliquam a ipsum eos morbi duis, mauris pede ut quis wisi magna, etiam donec ut id, tellus pellentesque convallis odio. Dolor vivamus potenti sed ut pede vestibulum, voluptate suspendisse, amet amet nisl eu, auctor etiam. Est sodales feugiat, enim ridiculus placerat ligula nam quam. Integer felis, pharetra massa risus purus ut erat, mauris</p>
            </div>
          </div><!-- faq-single end -->
          <div class="faq-single">
            <div class="number">04</div>
            <div class="content">
              <h3 class="title">Requests for information</h3>
              <p>Lorem ipsum dolor sit amet, aliquam a ipsum eos morbi duis, mauris pede ut quis wisi magna, etiam donec ut id, tellus pellentesque convallis odio. Dolor vivamus potenti sed ut pede vestibulum, voluptate suspendisse, amet amet nisl eu, auctor etiam. Est sodales feugiat, enim ridiculus placerat ligula nam quam. Integer felis, pharetra massa risus purus ut erat, mauris</p>
            </div>
          </div><!-- faq-single end -->
          <div class="faq-single">
            <div class="number">05</div>
            <div class="content">
              <h3 class="title">Complaint Submission</h3>
              <p>Lorem ipsum dolor sit amet, aliquam a ipsum eos morbi duis, mauris pede ut quis wisi magna, etiam donec ut id, tellus pellentesque convallis odio. Dolor vivamus potenti sed ut pede vestibulum, voluptate suspendisse, amet amet nisl eu, auctor etiam. Est sodales feugiat, enim ridiculus placerat ligula nam quam. Integer felis, pharetra massa risus purus ut erat, mauris</p>
            </div>
          </div><!-- faq-single end -->
          <div class="faq-single">
            <div class="number">06</div>
            <div class="content">
              <h3 class="title">Diam suscipit ac ac ullamcorper at praesent</h3>
              <p>Lorem ipsum dolor sit amet, aliquam a ipsum eos morbi duis, mauris pede ut quis wisi magna, etiam donec ut id, tellus pellentesque convallis odio. Dolor vivamus potenti sed ut pede vestibulum, voluptate suspendisse, amet amet nisl eu, auctor etiam. Est sodales feugiat, enim ridiculus placerat ligula nam quam. Integer felis, pharetra massa risus purus ut erat, mauris</p>
            </div>
          </div><!-- faq-single end -->
        </div>
      </div>
    </div>
  </section>

{% endblock %}