{% extends 'layout.html' %}
{% block content %}


  <!-- inner-page-hero-section start -->
  <section class="inner-page-hero-section bg_img" data-background="/static/assets/images/banner/2.jpg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content-wrapper">
            <h2 class="page-title">哩哩文化</h2>
            <ul class="page-list">
              <li><a href="/index">Home</a></li>
              <li>culture</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- inner-page-hero-section end -->

  <!-- about-section start -->
  <section class="about-section pt-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about-thumb">
            <div class="thumb-one"><img src="/static/assets/images/about/3.PNG" alt="image"></div>
            <div class="thumb-two"><img src="/static/assets/images/about/2.jpg" alt="image"></div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-content">
            <div class="section-header style--two">
              <h3 class="section-sub-title">关于哩哩</h3>
              <h2 class="section-title">渔娘有话说</h2>
              <div class="section-title-line"><img src="/static/assets/images/section-title-shape.png" alt="image"></div>
            </div>
            <p>

&nbsp;&nbsp;&nbsp;&nbsp;海南临高是个贫困县，同时也是海南较大的海洋渔业县，我们临高人非常纯朴简单，而且非常好客。
我们家住在海边，小时候在大海的怀抱中长大。外婆外公那代都吃不起猪肉，买不起大米，每天的伙食都是吃海鲜，煮野菜，我妈妈就是在这样的环境中长大的，外公没念什么书，没什么文化，就靠出海捕鱼，维持生计。海鲜营养的价值很高，捕捞的海鲜一些拿来卖。海鲜很珍贵，营养价值较高，但对于家人来说，一般都舍不得吃，等过年过节时才会拿出一点来一起品尝美味。
            </p>
            <p>
&nbsp;&nbsp;&nbsp;&nbsp;哩哩美是我们当地的一种流行渔调歌，渔民们一干活就唱，到现在也一直在传唱。临高海鲜味道鲜美，自然也家喻户晓的；我外公经常开玩笑说他唱哩哩美成功娶到了外婆。临高的“哩哩美”于2008年的时候已经被列入国家非物质文化遗产；那个时候我在想，海南海域处于无污染区域，海产品营养价值也非常丰富，临高的哩哩美文化非常浓厚，我想把这份淳朴，快乐传承下去，继续发扬临高哩哩美文化，让临高哩哩美的精神感染身边的朋友， 基于这种想法，我从安踏辞职出来，创办了哩哩渔娘，现在全身心的在做这个品牌。            </p>
            <p>
&nbsp;&nbsp;&nbsp;&nbsp;哩哩渔娘现在主营三大系列产品，第一干货类，第二是冻品马鲛鱼类，第三是即食海鲜类。干货类我们的产品有：海参、鱼胶、沙虫、鲍鱼、鱿鱼、墨鱼、干贝、虾干、小银鱼干、 虾皮一共10个品类礼盒。冻品我们目前只做一款马鲛鱼。即食海鲜类，就是我们的即食花胶，一款吃了就会爱上的鱼胶，这款鱼胶意味着来自妈妈的爱，来自丈夫的爱，来自女儿对母亲的爱。            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about-section end -->

  <!-- choose-us-section start -->
  <section class="choose-us-section pt-120 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-header style--two">
            <h3 class="section-sub-title">保持初衷</h3>
            <h2 class="section-title">为什么选择哩哩渔娘？</h2>
            <div class="section-title-line"><img src="/static/assets/images/section-title-shape.png" alt="image"></div>
          </div>
        </div>
      </div>
      <div class="row mb-none-30">
        <div class="col-lg-4 col-sm-6">
          <div class="about-item mb-30">
            <i class="flaticon-cruise"></i>
            <h4 class="title">天然</h4>
            <p>Integer sagittis nisi nec tortor fermentum aquet. Integer non neque tempor, porttitor lorem id, commodo nulla. Nullam sed ultricie</p>
          </div>
        </div><!-- about-item end -->
        <div class="col-lg-4 col-sm-6">
          <div class="about-item mb-30">
            <i class="flaticon-captain"></i>
            <h4 class="title">质量</h4>
            <p>Integer sagittis nisi nec tortor fermentum aquet. Integer non neque tempor, porttitor lorem id, commodo nulla. Nullam sed ultricie</p>
          </div>
        </div><!-- about-item end -->
        <div class="col-lg-4 col-sm-6">
          <div class="about-item mb-30">
            <i class="flaticon-user-experience"></i>
            <h4 class="title">营养</h4>
            <p>Integer sagittis nisi nec tortor fermentum aquet. Integer non neque tempor, porttitor lorem id, commodo nulla. Nullam sed ultricie</p>
          </div>
        </div><!-- about-item end -->
      </div>
    </div>
  </section>
  <!-- choose-us-section end -->



{% endblock %}