{% extends 'layout.html' %}
{% block content %}
    <!-- header-section end  -->

  <!-- hero-setion start -->
  <section class="hero-setion style--two bg_img" data-background="/static/assets/images/index_body.jpg" style="height: 450px"  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="hero-content">


          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- hero-setion end -->

  <!-- about-section start -->
    <section class="about-section pt-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about-thumb">
            <div class="thumb-one"><img src="/static/assets/images/about/iabout1.jpg" alt="image"></div>
            <div class="thumb-two"><img src="/static/assets/images/about/iabout2.jpg" alt="image"></div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-content">
            <div class="section-header style--two">
              <h3 class="section-sub-title">关于我们</h3>
              <h2 class="section-title">哩哩渔娘</h2>
              <div class="section-title-line"><img src="/static/assets/images/section-title-shape.png" alt="image"></div>
            </div>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;海南鑫鑫向荣贸易有限公司结合海南当地得天独厚的海洋资源，以生产销售无污染生态海产品为宗旨，食品安全无添加为中心，
            以生产销售无污染生态海产品为宗旨，食品安全无添加为中心，是一家致力打造新鲜生态海产干货伴手礼和研发销售即食性海产品的批发零售公司。
            </p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;海南临高“哩哩美”文化缘起于渔业丰收的渔村，大街小巷处处回荡着渔娘们清脆甜美的歌谣与叫卖声。为传承“哩哩美”文化，甄选最新鲜优质的、天然无污染的海鲜，让更多的人感受最天然的海洋味道，我们专注海鲜产品的品牌，主打最受人们喜爱的海鲜干货，冻品，即食海鲜产品。
          </p>
        </div>
      </div>
      </div></div>
  </section>

    <section class="service-section pt-120">
      <div class="section-bg-image bg_img" data-background="/static/assets/images/bg/iproduct.jpg"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="service-area">
              <div class="section-header text-center">
            <h3 class="section-sub-title">天然 健康 美味</h3>
            <h2 class="section-title">部分产品展示</h2>
            <div class="section-title-line"><img src="/static/assets/images/section-title-shape.png" alt="image"></div>
                  <div style="text-align: left;">
            <p style="margin: 0 auto;text-align: center">哩哩渔娘主营四大系列产品：
                  <br>
                  生鲜类，冻品类，干货类，即食类<br>分别包括：海参，鱼胶，沙虫，鲍鱼，干贝，鱿鱼，<br>墨鱼，鲜虾，马鲛鱼，金线鱼，红鱼，鳗鱼，即食鱼胶等

                  <p style="margin: 0 auto">
                      </div>
          </div>
            <div class="row mb-none-30">
        <div class="col-lg-4 col-sm-6">
          <div >
            <div class="thumb">
              <img src="/static/assets/images/product/ip1.jpg" alt="image">
            </div>

          </div>
        </div><!-- destination-item end -->
        <div class="col-lg-4 col-sm-6">
          <div>
            <div class="thumb" style="margin-bottom: 40px">
              <img src="/static/assets/images/product/ip2.jpg" alt="image">
            </div>

          </div>
        </div><!-- destination-item end -->
        <div class="col-lg-4 col-sm-6">
          <div >
            <div class="thumb">
              <img src="/static/assets/images/product/ip3.jpg" alt="image" style="height: 329px">
            </div>

          </div>
        </div><!-- destination-item end -->
        <div class="col-lg-4 col-sm-6">
          <div>
            <div class="thumb">
              <img src="/static/assets/images/product/ip4.jpg" alt="image">
            </div>

          </div>
        </div><!-- destination-item end -->
        <div class="col-lg-4 col-sm-6">
          <div >
            <div class="thumb">
              <img src="/static/assets/images/product/ip5.jpg" alt="image">
            </div>

          </div>
        </div><!-- destination-item end -->

        <div class="col-lg-4 col-sm-6">




          <div >
            <div class="thumb">
              <img src="/static/assets/images/product/ip6.jpg" alt="image">
            </div>

          </div>
        </div><!-- destination-item end -->
      </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- service-section end -->

    <!-- destination-section start -->
    <section class="destination-section pt-120 pb-120">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="section-header text-center">
              <h3 class="section-sub-title">哩哩渔娘</h3>
              <h2 class="section-title">企业荣誉</h2>
              <div class="section-title-line"><img src="/static/assets/images/section-title-shape.png" alt="image"></div>
              <p>Lorem ipsum dolor sit amet, sodales at bibendum, magna nulla odio tellus rhoncus nam et eu semper condime</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mb-none-30">
            <div class="destination-single mb-30">
              <div class="thumb bg_img" data-background="/static/assets/images/destination/l1.jpg"></div>
              <div class="content">
                <h3 class="destination-name"><a href="destination-details.html">Venezia - Italy</a></h3>
                <span class="date"><i class="fa fa-calendar"></i>20/09/2019 - 30/09/2019</span>
                <p>Lorem ipsum dolor sit amet, ipsum ut quam maecenas leo, non famfend ante sed eletum pulvinar, porta metus sed lorem sagittis elit, purus at ut mentum metus hymenae maecenas ac turpis qui volutpat, amet ipsum eros</p>
                <a href="#0" class="text-btn">View More</a>
              </div>
            </div><!-- destination-single end -->
       g    <div class="destination-single mb-30">
              <div class="thumb bg_img" data-background="/static/assets/images/destination/l2.jpg"></div>
              <div class="content">
                <h3 class="destination-name"><a href="destination-details.html">Stockhom - Sweden</a></h3>
                <span class="date"><i class="fa fa-calendar"></i>20/09/2019 - 30/09/2019</span>
                <p>Lorem ipsum dolor sit amet, ipsum ut quam maecenas leo, non famfend ante sed eletum pulvinar, porta metus sed lorem sagittis elit, purus at ut mentum metus hymenae maecenas ac turpis qui volutpat, amet ipsum eros</p>
                <a href="#0" class="text-btn">View More</a>
              </div>
            </div><!-- destination-single end -->
            <div class="destination-single mb-30">
              <div class="thumb bg_img" data-background="/static/assets/images/destination/l3.jpg"></div>
              <div class="content">
                <h3 class="destination-name"><a href="destination-details.html">Germany - Netherlands</a></h3>
                <span class="date"><i class="fa fa-calendar"></i>20/09/2019 - 30/09/2019</span>
                <p>Lorem ipsum dolor sit amet, ipsum ut quam maecenas leo, non famfend ante sed eletum pulvinar, porta metus sed lorem sagittis elit, purus at ut mentum metus hymenae maecenas ac turpis qui volutpat, amet ipsum eros</p>
                <a href="#0" class="text-btn">View More</a>
              </div>
            </div><!-- destination-single end -->
            <div class="destination-single mb-30">
              <div class="thumb bg_img" data-background="/static/assets/images/destination/l4.jpg"></div>
              <div class="content">
                <h3 class="destination-name"><a href="destination-details.html">Oslo - Norway</a></h3>
                <span class="date"><i class="fa fa-calendar"></i>20/09/2019 - 30/09/2019</span>
                <p>Lorem ipsum dolor sit amet, ipsum ut quam maecenas leo, non famfend ante sed eletum pulvinar, porta metus sed lorem sagittis elit, purus at ut mentum metus hymenae maecenas ac turpis qui volutpat, amet ipsum eros</p>
                <a href="#0" class="text-btn">View More</a>
              </div>
            </div><!-- destination-single end -->
          </div>
        </div>
      </div>
    </section>


{% endblock %}
